 <header class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg p-0">
					<a class="navbar-brand" href="{{path('app_index')}}">
						<img class ="col-8" src="{{asset('images/logo.png')}}" alt="Logo">
					</a>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
						<span class="ion-android-menu"></span>
					</button>

					<div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{path('app_index')}}">Home</a>
							</li>
							<li class="nav-item @@service"><a class="nav-link" href="{{path('app_article_index')}}">Article</a></li>

							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								Categories
								</button>
								<ul class="dropdown-menu">
								{{ render(controller(
									'App\\Controller\\CategorieController::allCat'
								)) }}
								
								</ul>
							</div>

                            <li class="nav-item @@service"><a class="nav-link" href="{{path('app_utilisateur_index')}}">Utilisateur</a></li>

							
							<li class="nav-item @@contact"><a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a></li>
						</ul>
						{{ render(controller(
							'App\\Controller\\ArticleController::form'
						)) }}
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>